QFrame#backgroundFrame {
    background-color: rgb(28, 28, 31);
    border:           1px solid rgb(58, 58, 62);
    border-radius:    4px;
    margin:           0px;
    padding:          5px;
}
QMenuBar {
    background-color: rgb(28, 28, 31);
    color:           rgb(220, 232, 242);
    border:          1px solid rgb(58, 58, 62);
}
QMenuBar::item {
    background-color: rgb(59, 59, 63);
    color:           rgb(220, 232, 242);
    padding:         3px 8px;
}
QMenuBar::item:selected,
QMenuBar::item:pressed {
    background:     rgb(52, 52, 56);
    color:           rgb(220, 232, 242);
}
QMenuBar::item:hover {
    background:      rgb(70, 70, 71);
    color:           rgb(220, 232, 242);
}
QMenu {
    background-color: rgb(37, 37, 40);
    color:           rgb(220, 232, 242);
    border:          1px solid rgb(88, 88, 92);
}
QMenu::item {
    padding:         4px 16px;
    background-color: rgb(59, 59, 63);
    color:           rgb(220, 232, 242);
}
QMenu::item:hover {
    background:      rgb(125, 125, 129);
    color:           rgb(220, 232, 242);
}
QMenu::item:selected {
    background:      rgb(52, 52, 56);
    color:           rgb(220, 232, 242);
}
QMenu::item:selected:hover {
    background:   rgb(60, 60, 65);
    color:        rgb(220, 232, 242);
}
QMenu::separator {
    height:          1px;
    background:      rgb(58, 58, 62);
    margin:          4px 8px;
}
QLabel {
    color:          rgb(220, 232, 242);
    font:           bold;
}
QLabel#lblInputLEDMeter,
QLabel#lblPing,
QLabel#lblPingVal,
QLabel#lblPingUnit,
QLabel#lblDelay,
QLabel#lblDelayVal,
QLabel#lblDelayUnit,
QLabel#lblBuffers {
    font:      bold 11px;
}
QLabel#lblOutput,
QLabel#pOutputBandMeterTitle {
    font:      normal 10px;
}
QLabel[channelLabelStyle="slim"] {
    color: rgb(0, 0, 0);
    font: 9px;
}
QLabel[channelLabelStyle="normal"] {
    color: rgb(0, 0, 0); font: bold 9px;
}
QRadioButton {
    color:          rgb(220, 232, 242);
    font:           bold;
}
QScrollArea {
    background:     transparent;
}
.QWidget {
    background:     transparent;
}
QGroupBox {
    background:     transparent;
}
QGroupBox::title {
    color:          rgb(220, 232, 242);
}
QFrame#lineMeter,
QFrame#lineMainDivider,
QFrame#lineUpperLowerLeft,
QFrame#lineUpperLowerLeft_2 {
    background-color: rgb(58, 58, 62);
    color:           rgb(58, 58, 62);
}

QPushButton#chbLocalMute,
QPushButton#chbSettings,
QPushButton#chbChat,
QPushButton#butEffects {
    color: rgb(75, 213, 248);
    font: bold;
    spacing: 0px;
    padding: 4px 7px;
    border: 1px solid rgb(88, 88, 92);
    border-radius: 6px;
    background: qlineargradient(x1:0, y1:0, x2:0, y2:1,
        stop:0 rgb(54, 54, 58),
        stop:1 rgb(38, 38, 42));
    min-height: 20px;
    max-height: 20px;
    text-align: center;
    margin: 0px;
}
QPushButton#chbSettings:checked,
QPushButton#chbChat:checked,
QPushButton#butEffects:checked {
    color: rgb(31, 28, 28);
    border: 2px solid rgb(173, 245, 173);
    background: qlineargradient(x1:0, y1:0, x2:0, y2:1,
        stop:0 rgb(202, 233, 202),
        stop:1 rgb(173, 245, 173));
}
QPushButton#chbSettings:hover,
QPushButton#chbChat:hover,
QPushButton#butEffects:hover {
    color: rgb(220, 232, 242);
    border: 2px solid rgb(82, 180, 110);
    background: none;
}
QPushButton#chbSettings:checked:hover,
QPushButton#chbChat:checked:hover,
QPushButton#butEffects:checked:hover {
    color: rgb(49, 39, 39);
    border: 2px solid rgb(82, 180, 110);
    background: qlineargradient(x1:0, y1:0, x2:0, y2:1,
        stop:0 rgb(222, 240, 222),
        stop:1 rgb(190, 245, 190));
}
QPushButton#chbSettings:pressed,
QPushButton#chbChat:pressed,
QPushButton#butEffects:pressed {
    border: 2px solid rgb(64, 158, 94);
    background: qlineargradient(x1:0, y1:0, x2:0, y2:1,
        stop:0 rgb(50, 100, 50),
        stop:1 rgb(30, 60, 30));
}
QPushButton#chbLocalMute:checked {
    color: rgb(31, 28, 28);
    border: 2px solid rgb(247, 197, 122);
    background: qlineargradient(x1:0, y1:0, x2:0, y2:1,
        stop:0 rgb(243, 205, 148),
        stop:1 rgb(247, 197, 122));
}
QPushButton#chbLocalMute:hover {
    color: rgb(220, 232, 242);
    border: 2px solid rgb(247, 197, 122);
    background: none;
}
QPushButton#chbLocalMute:checked:hover {
    color: rgb(49, 39, 39);
    border: 2px solid rgb(240, 207, 158);
    background: qlineargradient(x1:0, y1:0, x2:0, y2:1,
        stop:0 rgb(238, 204, 153),
        stop:1 rgb(245, 218, 179));
}
QPushButton#chbLocalMute:pressed {
    border: 2px solid rgb(247, 197, 122);
    background: qlineargradient(x1:0, y1:0, x2:0, y2:1,
        stop:0 rgb(243, 205, 148),
        stop:1 rgb(247, 197, 122));
}
QPushButton#butConnect {
    color:             rgb(75, 213, 248);
    font:              bold;
    border:            1px solid rgb(88, 88, 92);
    border-radius:     6px;
    background:        qlineargradient(x1:0, y1:0, x2:0, y2:1,
        stop:0 rgb(54, 54, 58),
        stop:1 rgb(38, 38, 42));
    padding:           4px 7px;
    min-height:        40px;
    max-height:        40px;
}
QPushButton#butConnect:hover {
    color: rgb(220, 232, 242);
    border: 2px solid rgb(75, 213, 248);
    background: none;
}
QPushButton#butConnect:pressed {
    border: 2px solid rgb(92, 180, 242);
    background: qlineargradient(x1:0, y1:0, x2:0, y2:1,
        stop:0 rgb(52, 52, 56),
        stop:1 rgb(38, 38, 42));
}
QPushButton#butConnect[connectedState="true"] {
    color:             rgb(31, 28, 28);
    border:            2px solid rgb(245, 59, 90);
    background:        qlineargradient(x1:0, y1:0, x2:0, y2:1,
        stop:0 rgb(240, 145, 156),
        stop:1 rgb(245, 59, 90));
}
QPushButton#butConnect[connectedState="true"]:hover {
    color: rgb(31, 28, 28);
    border:            2px solid rgb(222, 88, 96);
    background:        qlineargradient(x1:0, y1:0, x2:0, y2:1,
        stop:0 rgb(243, 202, 207),
        stop:1 rgb(241, 93, 118));
}
QPushButton#butConnect[connectedState="true"]:pressed {
    border:            2px solid rgb(232, 108, 116);
    background:        qlineargradient(x1:0, y1:0, x2:0, y2:1,
        stop:0 rgb(58, 46, 48),
        stop:1 rgb(42, 34, 36));
}

/* Mixer strip buttons */

QPushButton#pcbGroup,
QPushButton#pcbMute,
QPushButton#pcbSolo {
    color: rgb(220, 232, 242);
    font: bold;
    spacing: 0px;
    padding: 4px 5px;
    border: 1px solid rgb(88, 88, 92);
    border-radius: 6px;
    background: qlineargradient(x1:0, y1:0, x2:0, y2:1,
        stop:0 rgb(54, 54, 58),
        stop:1 rgb(38, 38, 42));
    min-height: 20px;
    max-height: 20px;
    text-align: center;
    margin: 0px;
}
QPushButton#pcbGroup:checked {
    color: rgb(31, 28, 28);
    border: 2px solid rgb(59, 164, 245);
    background: qlineargradient(x1:0, y1:0, x2:0, y2:1,
        stop:0 rgb(151, 202, 241),
        stop:1 rgb(59, 164, 245));
}
QPushButton#pcbGroup:hover {
    border: 2px solid rgb(59, 164, 245);
    background: none;
}
QPushButton#pcbGroup:checked:hover {
    border: 2px solid rgb(125, 198, 240);
    background:    qlineargradient(x1:0, y1:0, x2:0, y2:1,
        stop:0 rgb(167, 219, 240),
        stop:1 rgb(125, 198, 240));
}
QPushButton#pcbMute:checked {
    color: rgb(31, 28, 28);
    border: 2px solid rgb(243, 110, 132);
    background: qlineargradient(x1:0, y1:0, x2:0, y2:1,
        stop:0 rgb(245, 188, 195),
        stop:1 rgb(243, 110, 132));
}
QPushButton#pcbMute:hover {
    border: 2px solid rgb(243, 110, 132);
    background: none;
}
QPushButton#pcbMute:checked:hover {
    border: 1px solid rgb(243, 109, 149);
    background:    qlineargradient(x1:0, y1:0, x2:0, y2:1,
        stop:0 rgb(243, 205, 219),
        stop:1 rgb(236, 144, 172));
}
QPushButton#pcbSolo:checked {
    color: rgb(31, 28, 28);
    border: 2px solid rgb(220, 163, 240);
    background: qlineargradient(x1:0, y1:0, x2:0, y2:1,
        stop:0 rgb(235, 204, 235),
        stop:1 rgb(220, 163, 240));
}
QPushButton#pcbSolo:hover {
    border: 2px solid rgb(220, 163, 240);
    background: none;
}
QPushButton#pcbSolo:checked:hover {
    border: 1px solid rgb(231, 201, 241);
    background:    qlineargradient(x1:0, y1:0, x2:0, y2:1,
        stop:0 rgb(243, 227, 243),
        stop:1 rgb(236, 200, 240));
}